<%= render 'shared/navbar'%>

<div class="h-screen  w-full">
    <div class="flex justify-center items-center h-[80%]">
        <%= image_tag 'managco_main_logo', class: "w-[25%] h-[65%]"%>
    </div>

    <div class="flex justify-center py-10">
        <p class="w-[60%]  text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis impedit, ducimus in corrupti, asperiores voluptate natus itaque at iusto velit, minus ea nisi labore. Minima soluta vel inventore, debitis voluptatibus eveniet repellat ab aspernatur exercitationem facere velit perferendis porro facilis obcaecati error quaerat quam dignissimos deleniti, magni tempora? Sapiente eaque molestiae ad consequuntur excepturi quidem fugit modi doloremque laudantium earum asperiores architecto rem, reiciendis necessitatibus praesentium, nisi illo? Perferendis exercitationem provident, veritatis autem voluptate aliquam quaerat culpa ipsam odit ex ducimus, blanditiis quibusdam. Placeat id optio inventore, nobis aperiam, eligendi soluta vitae unde voluptatibus a natus sunt necessitatibus temporibus?</p>
    </div>

    <div class="w-full h-[50%] flex flex-row space-x-10 justify-center pt-10">
        <div class="flex flex-col w-[40%] space-y-6 items-center justify-center">
            <h2 class="text-2xl text-gray-600 font-semibold underline">Admin</h2>
            <p class="text-sm text-gray-600 ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut debitis eum, quas pariatur obcaecati vitae aliquid dolorum quaerat, impedit perferendis tempore dicta consectetur odio eaque. Officia quod unde, numquam soluta voluptatibus esse illum ullam labore quasi recusandae exercitationem. Ex sed nesciunt nostrum aliquam vitae. Dolore unde eos amet aliquid, hic odit rerum ipsam, inventore veniam corrupti quaerat? Laboriosam porro fugiat officia sed, corporis beatae quisquam, inventore, dolorem obcaecati praesentium atque minima quibusdam facere fugit. Dignissimos, architecto sapiente! Possimus, eveniet labore iusto nihil omnis, tenetur sit inventore non sint eligendi odio vel, voluptatem ut! Perferendis est, laudantium eveniet quisquam adipisci tenetur!</p>
        </div>

        <div class="w-[15%] h-[90%] text-2xl font-semibold text-gray-200 bg-blue-500 rounded-2xl hover:bg-blue-600 hover:text-white">
            <i class="material-icons flex justify-end p-2 text-4xl font-semibold">north_east</i>
            <a href="/session/admin"><button class="w-full h-full">Admin Portal</button></a>
        </div>
    </div>

    <div class="w-full h-[50%] flex flex-row space-x-10 justify-center pt-10">
        <div class="w-[15%] h-[90%] text-2xl font-semibold text-gray-200 bg-blue-500 rounded-2xl hover:bg-blue-600 hover:text-white">
            <i class="material-icons flex justify-start p-2 text-4xl font-semibold">north_west</i>
            <button class="w-full h-full">Employee Portal</button>
        </div>

        <div class="flex flex-col w-[40%] space-y-6 items-center justify-center">
            <h2 class="text-2xl text-gray-600 font-semibold underline">Employee</h2>
            <p class="text-sm text-gray-600 ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut debitis eum, quas pariatur obcaecati vitae aliquid dolorum quaerat, impedit perferendis tempore dicta consectetur odio eaque. Officia quod unde, numquam soluta voluptatibus esse illum ullam labore quasi recusandae exercitationem. Ex sed nesciunt nostrum aliquam vitae. Dolore unde eos amet aliquid, hic odit rerum ipsam, inventore veniam corrupti quaerat? Laboriosam porro fugiat officia sed, corporis beatae quisquam, inventore, dolorem obcaecati praesentium atque minima quibusdam facere fugit. Dignissimos, architecto sapiente! Possimus, eveniet labore iusto nihil omnis, tenetur sit inventore non sint eligendi odio vel, voluptatem ut! Perferendis est, laudantium eveniet quisquam adipisci tenetur!</p>
        </div>

    </div>
</div>